<div class="container">
  <h1 class="align-center">Angular-DPlayer ({{ types[type] }})</h1>
  <div [ngSwitch]="types[type]">
    <d-player
      *ngSwitchCase="'MP4'"
      src="https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.mp4"
      poster="https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.png"
      [danmaku]=""></d-player>
    <d-player
      *ngSwitchCase="'HLS'"
      dpHls
      [video]="{url: 'https://moeplayer.b0.upaiyun.com/dplayer/hls/hikarunara.m3u8'}"></d-player>
    <d-player
      *ngSwitchCase="'DASH'"
      dpDash
      [video]="{url: 'https://moeplayer.b0.upaiyun.com/dplayer/dash/hikarunara.mpd'}"></d-player>
    <d-player
      *ngSwitchCase="'FLV'"
      dpFlv
      [video]="{url: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.flv'}"></d-player>
  </div>
  <div class="align-center">
    <button class="button hero-cta" (click)="changeType()">switch</button>
  </div>
</div>
<div class="background-sky hero"></div>
